<div id="leftBar">
    <ul>
        <li><a href="@Url.Action("Index","Admin")">Trang chủ</a></li>
        <li><a href="@Url.Action("DanhMuc","Admin")">Danhmục</a></li>
        <li><a href="@Url.Action("SanPham","Admin")">Sảnphẩm</a></li>
        <li><a href="@Url.Action("HoaDon","Admin")">Hóa đơn</a></li>
    </ul>
</div>
